<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
<!--        <parameter name="browser" value="Chrome"/>-->
        <classes>
            <class name="testNG.EndToEndProductCheckout"/>
            <class name="testNG.NegativeTestCaseDemo"/>

        </classes>
  </test>
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->

<!--    <test name="Test">-->
<!--        <parameter name="browser" value="FireFox"/>-->
<!--        <classes>-->
<!--            <class name="testNG.EndToEndProductCheckout"/>-->
<!--            <class name="testNG.NegativeTestCaseDemo"/>-->

<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->

<!--    <test name="Test">-->
<!--        <parameter name="browser" value="IE"/>-->
<!--        <classes>-->
<!--            <class name="testNG.EndToEndProductCheckout"/>-->
<!--            <class name="testNG.NegativeTestCaseDemo"/>-->

<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
</suite> <!-- Suite -->